# Evennia dependencies

# general
attrs >= 19.3.0
django >= 3.0.8
twisted >= 20.3.0
pytz
djangorestframework >= 3.11.0
django-filter >= 2.3.0
django-sekizai
inflect
autobahn >= 20.7.1
lunr >= 0.5.8
uvloop == 0.14.0


# testing and development
model_mommy
mock >= 4.0.2
anything
black

# windows-specific
pypiwin32;platform_system=="Windows"
